body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.block {
    text-align: center;

}

.square {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: blue;
}

.square2 {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: red;
}

.square3 {
    display: inline-block;
    width: 500px;
     height: 500px;
     background-color: purple;
}